.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  line-height: 17.86px;
  letter-spacing: -0.04em;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  padding: 8px 30px;
  gap: 8px;
  border-radius: 8px;
  white-space: nowrap;
  margin: 0;
  border: none;
  vertical-align: top;
}

.button svg {
  flex-grow: 0;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
}

.button:hover svg {
  transform: translateX(2.5px);
}

.primary:not(.normal),
.secondary:not(.normal):hover {
  background: #a49031;
  /* border: none; */
  color: #f4f4f4;
}

.primary:not(.normal) > svg,
.secondary:not(.normal):hover > svg {
  fill: #f4f4f4;
}

.secondary:not(.normal) {
  border: 2px solid #a49031;
  color: #a49031;
  background: transparent;
}

.secondary:not(.normal) > svg {
  fill: #a49031;
}

.secondary:not(.normal):hover > svg {
  fill: #f4f4f4;
}

.primary:not(.gold),
.secondary:not(.gold):hover {
  background: #dc7322;
  /* border: none; */
  color: #f4f4f4;
}

.primary:not(.gold) svg,
.secondary:not(.gold):hover svg {
  fill: #f4f4f4;
}

.secondary:not(.gold),
.primary:not(.gold):hover {
  border: 2px solid #dc7322;
  color: #dc7322;
  background: transparent;
}

.secondary:not(.gold) > svg,
.primary:not(.gold):hover > svg {
  fill: #dc7322;
}

.footerBtn {
  background: #dc7322;
  color: #f4f4f4;
  border: none;
}

.footerBtn:hover {
  background: transparent;
  /* border: 2px solid #f4f4f4; */
  color: #f4f4f4;
}

.footerBtn > svg {
  fill: #f4f4f4;
}

.primary:disabled,
.tertiary:disabled {
  background-color: #d0caca;
}

.black {
  color: #f4f4f4;
  background: #000;
  border: none;
  padding: 8px 30px;
}

.black:hover {
  transform: scale(1.05);
}

.black > svg,
.black:hover > svg {
  fill: #f4f4f4;
}

.white {
  background: #f4f4f4;
  color: #191919;
  border: none;
}

.white:hover {
  background: #191919;
  color: #f4f4f4;
}
.gray {
  background: #d9d9d9;
  color: #191919;
  border: none;
}

.gray:hover {
  background: #000;
  color: #d9d9d9;
}

.gray:hover > svg {
  fill: #d9d9d9;
}
.orange {
  background: #b45f1e;
  color: #f4f4f4;
  border: none;
}

.orange:hover {
  background: transparent;
  color: #b45f1e;
  /* border: 2px solid #b45f1e; */
}

.orange:hover > svg {
  fill: #b45f1e;
}

.plain {
  color: #191919;
  background: transparent;
  border: none;
  padding: 8px 30px;
}

.plain:hover {
  background: #191919;
  color: #f4f4f4;
  transform: scale(1.05);
}

.plain > svg,
.white > svg {
  fill: #191919;
}

.plain:hover > svg,
.white:hover > svg {
  fill: #f4f4f4;
}

.enriched {
  background: #dc7322;
  color: #f4f4f4;
  border: none;
}

.enriched:hover {
  border: none;
  background: transparent;
  color: #f4f4f4;
}

.enriched > svg {
  fill: #f4f4f4;
}

.enriched:hover > svg {
  fill: #000;
}

.lemon {
  background: #d1bd5b;
  color: #625834;
}

.lemon:hover {
  background: #d1bd5b;
  transform: scale(1.05);
  color: #fff;
}

.lemon > svg {
  fill: #625834;
}

.lemon:hover > svg {
  fill: #fff;
}

.yellow {
  background: #fac964;
  color: #30352f;
}

.yellow:hover {
  color: #b45f1e;
  transform: scale(1.05);
}

.yellow > svg {
  fill: #30352f;
}

.yellow:hover > svg {
  fill: #b45f1e;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .button {
    font-size: 14px;
    line-height: 23px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 14px;
    line-height: 23px;
  }
}
