.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0px 0px 0px;
  justify-content: space-between;
  min-height: calc(800px - 125px);
  overflow: hidden;
  position: relative;
}

.textSection {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  z-index: 1;
}

.textSection > h4 {
  font-weight: 300;
  font-size: 70.67px;
  line-height: 88%;
  letter-spacing: -2%;
  text-align: center;
  color: #191919;
  font-family: "Space Grotesk";
}

.textSection > h4 > span {
  display: block;
}

.mazius {
  font-family: "Mazius Display";
  font-weight: 400;
  color: #191919;
}

.textSection > button {
  margin-top: 1.5rem;
  min-width: 176px;
  padding: 8px 30px;
  z-index: 1;
  pointer-events: all;
}

.textSection > button > span,
.textSection > button > svg {
  display: flex;
  align-items: center;
}

.textSection > button > svg {
  transform: translateY(-1px);
}

.textSection > button:hover > svg {
  transform: translateY(-1px);
  transform: translateX(5px);
}

.text {
  font-family: "Poppins";
  color: #191919;
  margin-top: 0.5em;
  font-size: 16px;
  line-height: 17.9px;
}

.imageContainer {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: flex-end;
  margin-top: -4em;
  flex: 1;
  min-height: 0;
  z-index: 0;
}

.container > img,
.imageContainer > img {
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  min-height: 550px;
  object-fit: contain;
  object-position: center bottom;
  z-index: 1;
  overflow: visible;
}

.desktopImage {
  display: block;
}
.mobileImage {
  display: none;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .container {
    padding: 53px 0px 0px 0px;
    min-height: calc(600px);
    overflow: hidden;
  }

  .textSection {
    flex-basis: 100%;
    margin-top: 4em;
  }

  .imageContainer {
    flex: 1;
    margin-top: -3em;
    justify-content: center;
    display: flex;
  }

  .textSection > h4:not(.textSection > h4 > span:nth-child(1)) {
    font-size: 48px;
    line-height: 88%;
    letter-spacing: -0.04em;
  }

  .textSection > h4 > span {
    display: block;
  }

  .textSection > h4 > span:nth-child(1) {
    font-size: 48px;
    line-height: 88%;
    letter-spacing: -2%;
  }

  .textSection > h4 > span:nth-child(2) {
    font-size: 48px;
    line-height: 88%;
    letter-spacing: -2%;
  }

  .container > img,
  .imageContainer > img {
    min-height: 300px;
  }

  .container > div:has(.desktopImage) {
    display: block;
  }

  .imageContainer {
    margin: -2em;
  }

  .desktopImage {
    display: block;
  }

  .mobileImage {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 53px 0px 0px 0px;
    min-height: calc(550px);
    align-items: flex-start;
    justify-content: space-between;
  }

  .textSection {
    flex: 0 0 auto;
    padding: 0 32px;
  }
  .text {
    line-height: 100%;
    font-size: 14px;
    width: 98%;
    margin: 0 auto;
    margin-top: 0.25em;
  }
  .textSection > button {
    margin-top: 1.5rem;
    min-width: 130px;
  }

  .textSection > h4:not(.textSection > h4 > span:nth-child(1)) {
    font-size: 41px;
    line-height: 88%;
    letter-spacing: -2%;
    margin-top: 1em;
  }

  .textSection > h4 > span {
    display: block;
  }

  .textSection > h4 > span:nth-child(1) {
    font-size: 41px;
    line-height: 88%;
    letter-spacing: -0.04em;
  }

  .textSection > h4 > span:nth-child(2) {
    font-size: 41px;
    line-height: 88%;
    letter-spacing: -0.04em;
  }

  .imageContainer {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: visible;
    margin: 0;
    min-height: 0;
    margin-top: -4em;
  }

  .container > img,
  .imageContainer > img {
    width: 100vw;
    height: 100%;
    max-width: 100vw;
    min-height: 250px;
    object-fit: contain;
    object-position: center bottom;
  }

  .desktopImage {
    display: none !important;
  }

  .mobileImage {
    display: block !important;
  }
}

@media (min-width: 518px) and (max-width: 768px) {
  .container {
    padding: 53px 0px 0px 0px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .textSection {
    padding: 0 0;
  }

  .imageContainer {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -2em;
    flex: 1;
    min-height: 0;
  }

  .container > img,
  .imageContainer > img {
    width: 100vw;
    height: 100%;
    max-width: 100vw;
    object-fit: contain;
    object-position: center bottom;
    z-index: 1;
    overflow: visible;
    display: block;
  }
}
