.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0px 0px 0px;
  justify-content: space-between;
  min-height: calc(800px - 125px);
  /* max-height: calc(800px - 125px); */
  overflow: hidden;
}

.textSection {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  /* margin-bottom: 2rem; */
}

.textSection > h4 {
  font-weight: 300;
  font-size: 70.67px;
  line-height: 88%;
  letter-spacing: -2%;
  text-align: center;
  color: #191919;
}

.textSection > h4 > span {
  display: block;
}

.mazius {
  font-family: "Mazius Display";
  font-weight: 400;
  color: #191919;
}

.textSection > button {
  margin-top: 1.5rem;
  min-width: 220px;
}

.text {
  font-family: "Poppins";
  color: #191919;
  margin-top: 0.5em;
  font-size: 16px;
  line-height: 89%;
}

.imageContainer {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: flex-end;
  margin-top: -4em;
}

.container > img,
.imageContainer > img {
  height: 550px;
  width: 100%;
  max-width: 100vw;
  object-fit: cover;
  z-index: 1;
  overflow: visible;
}

.desktopImage {
  display: block;
}
.mobileImage {
  display: none;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 53px 0px 0px 0px;
    min-height: calc(700px - 125px);
  }

  .textSection {
    flex-basis: 100%;
    margin-top: 4em;
  }

  .textSection > h4:not(.textSection > h4 > span:nth-child(1)) {
    font-size: 48px;
    line-height: 88%;
    letter-spacing: -0.04em;
  }

  .textSection > h4 > span {
    display: block;
  }

  .textSection > h4 > span:nth-child(1) {
    font-size: 48px;
    line-height: 88%;
    letter-spacing: -2%;
  }

  .textSection > h4 > span:nth-child(2) {
    font-size: 48px;
    line-height: 88%;
    letter-spacing: -2%;
  }

  .container > img,
  .imageContainer > img {
    height: 300px;
  }

  .container > div:has(.desktopImage) {
    display: block;
  }

  .imageContainer {
    margin: -2em;
  }

  .desktopImage {
    display: block;
  }

  .mobileImage {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 53px 32px 0px 32px;
    min-height: 80vh;
    align-items: flex-start;
    justify-content: space-between;
  }

  .textSection {
    flex: 0 0 auto;
  }

  .textSection > h4:not(.textSection > h4 > span:nth-child(1)) {
    font-size: 39px;
    line-height: 42.24px;
    letter-spacing: -2%;
    margin-top: 1em;
  }

  .textSection > h4 > span {
    display: block;
  }

  .textSection > h4 > span:nth-child(1) {
    font-size: 39px;
    line-height: 88%;
    letter-spacing: -0.04em;
  }

  .textSection > h4 > span:nth-child(2) {
    font-size: 39px;
    line-height: 88%;
    letter-spacing: -0.04em;
  }

  .imageContainer {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: visible;
    margin: 0;
  }

  .container > img,
  .imageContainer > img {
    height: 220px;
    width: 100vw;
    max-width: 100vw;
    object-fit: cover;
  }

  .desktopImage {
    display: none !important;
  }

  .mobileImage {
    display: block !important;
  }
}

@media (min-width: 518px) and (max-width: 768px) {
  .container {
    padding: 53px 0px 0px 0px;
    min-height: calc(600px - 125px);
    align-items: flex-start;
    justify-content: space-between;
  }

  .textSection {
    padding: 0 0;
  }

  .imageContainer {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 1em;
  }

  .container > img,
  .imageContainer > img {
    width: 100vw;
    max-width: 100vw;
    object-fit: cover;
    z-index: 1;
    overflow: visible;
    display: block;
  }
}
