.homeContact {
  background: #000;
  color: #f4f4f4;
  padding: 0 1.5em 4em 0;
  /* text-align: center; */
}

.homeContact h2 {
  font-family: "Mazius Display";
  font-weight: 400;
  font-size: 176px;
  line-height: 74%;
  letter-spacing: -2%;
  margin-bottom: 0.5em;
  /* border: 1px solid #f4f4f4; */
}

.homeContactDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5em;
  font-family: "Poppins";
  width: fit-content;
  margin: 0 auto;
}

.homeContactDetailsText {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: max-content;
}

.homeContactDetailsText p {
  font-weight: 300;
  font-size: 22px;
  line-height: 140%;
}

.homeContactDetails a {
  color: #f4f4f4;
  text-decoration: underline;
  font-weight: 500;
  display: block;
  transition: color 0.2s ease-in-out;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.homeContactDetails a:hover {
  color: #a49031;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .homeContact h2 {
    font-size: 140px;
  }
}

/* Tablet and Below */
@media screen and (max-width: 768px) {
  .homeContact h2 {
    font-size: 69px;
    margin-bottom: 1em;
  }

  .homeContactDetailsText p,
  .homeContactDetails a {
    font-size: 18px;
  }

  .homeContactDetails {
    gap: 2em;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }
}
